# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# JetBrains
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# macOS
.DS_Store

# Temporary files
*.swp
*~
*.save
